@media screen and (orientation: portrait) {
    #title {
        font-size: 20px;
    }

    .rectangleText {
        font-size: 12px;
    }

    h1, h2 {
        font-size: 18px;
    }

    .roundedRect {
        width: 75%;
    }
}
@media screen and (orientation: landscape) {
    #title {
        font-size: 24px;
    }

    .rectangleText {
        font-size: 16px;
    }

    h1, h2 {
        font-size: 22px;
    }

    .roundedRect {
        width: 100%;
    }
}
