/* profilePicture.css */

/* Profile Picture */
#profilePicture {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

    #profilePicture img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 3px solid white;
        object-fit: cover;
    }
