/* roundedRectangle.css */
.roundedRect {
    background-color: #333;
    border-radius: 25px;
    overflow: hidden;
    width: 300px; /* Fixed width */
    max-width: 300px; /* Ensure width doesn't exceed 300px */
    min-width: 300px; /* Ensure width doesn't go below 300px */
    padding: 10px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 90px;
    height: auto; /* Height adjusts automatically */
}

    .roundedRect::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        background-color: #9aaacc;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
