.section {
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
}

.line {
    width: 100%;
    border-top: 1px solid #666;
    margin: 20px 0;
}

.halfOpaque {
    font-size: 14px;
    border-radius: 15px;
    padding: -5px;
    margin: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative;
    color: dimgray;
    background-color: #292929;
    z-index: 3;
    width: auto; /* Slightly smaller fixed width to fit within roundedRect */
    height: auto; /* Height adjusts automatically */
}
