/* smallTextBox.css */
.smallTextBox {
    background-color: #444;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative;
    color: white;
    z-index: 1;
    width: auto; /* Slightly smaller fixed width to fit within roundedRect */
    height: auto; /* Height adjusts automatically */
}

.buttonsTextBox {
    background-color: #444;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0; /* Adjust margin to 5px */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    position: relative;
    color: white;
    z-index: 1;
    width: auto; /* Slightly smaller fixed width to fit within roundedRect */
    height: auto; /* Height adjusts automatically */
}

.rectangleText {
    font-size: 14px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #444;
    z-index: 2;
}

.buttonBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.button {
    display: inline-block;
    padding: 8px 15px; /* Slightly smaller padding */
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 250px; /* Make buttons narrower */
    margin-bottom: 5px; /* Adjust spacing between buttons */
    text-align: center;
    line-height: 1; /* Ensure the button height is one line tall */
}

.googleDocs {
    background-color: #4285F4; /* Blue */
}

.googleSheets {
    background-color: #34A853; /* Green */
}

.googleSlides {
    background-color: #FBBC05; /* Yellow */
}

.googleClassroom {
    background-color: #FF7043; /* Orange */
}

.button:hover,
.button:focus {
    background-color: white;
    color: black;
}
